<h1>
  Ege-Rita Noor
</h1>
<div class="contact-info">
  <mat-icon aria-hidden="false" aria-label="email" fontIcon="mail"></mat-icon> egerita.noor&#64;gmail.com
</div>
<div class="contact-info">
  <mat-icon aria-hidden="false" aria-label="phonenumber" fontIcon="call"></mat-icon>
  +372 58416032
</div>
<div class="contact-info"><mat-icon aria-hidden="false" aria-label="location" fontIcon="pin_drop"></mat-icon>Tallinn, Estonia</div>
<div class="contact-info">
  <mat-icon aria-hidden="false" aria-label="location" fontIcon="person"></mat-icon>
  <a href="https://www.linkedin.com/in/ege-rita-noor/">LinkedIn</a></div>
<p class="introduction">
  I am a software developer with over 5 years of experience in building and maintaining software products. 
  My primary expertise lies in front-end development, with a strong focus on TypeScript and React. 
  To broaden my skill set and work toward becoming a full-stack developer, I have dedicated significant time to 
  learning back-end technologies and participating in relevant courses. I enjoy exploring new frameworks such as Angular and Vue, 
  and I am always eager to embrace emerging technologies.
  <br><br>
  In my career as a software developer, I have cultivated a strong ability to work both independently and collaboratively within a team. 
  Working independently allows me to immerse myself deeply in problem-solving and innovation.
  I thrive in environments where I can take ownership of my projects, set my own goals, and drive them to completion.
  Collaborating with others brings diverse perspectives that enhance the development process.
  Ultimately, I find fulfillment in both independent work and team collaborations.
  <br><br>
  I am seeking a position where I can leverage my skills in writing clean, maintainable code following best practices, 
  while also expanding my knowledge and expertise in new technologies.
</p>