<div>
  <mat-card-header class="card-header">
    Hobbies
  </mat-card-header>
  <mat-card-content>
    I have a deep passion for web design, whenever I visit websites or use applications, 
    I find myself analyzing how various elements are crafted. This curiosity fuels my creativity and inspires my own projects.
    Going on walks and listening to music or a podcast is one of my favorite ways to unwind
    from a difficult day as well as diving into a video game. I am a big animal lover but most importantly
    a huge cat admirer.
  </mat-card-content>
</div>