/* You can add global styles to this file, and also import other style files */

html, body { height: 100% }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  background-color: #cdd1e5;

  .card-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 16px 16px 0;
  }
}
