<mat-card>
  <mat-card-header class="card-header">
    Work experience
  </mat-card-header>
  <mat-card-content>
    <div class="experience-row">
      <span class="company">Evitec Solutions OÜ</span>
      <span class="job-title">Software engineer</span>
    </div>
      <p class="work-length">2019 May - 2024 June</p>
    <ul>
      <li>
        Maintain the codebase, participate in code reviews
      </li>
      <li>
        Took part in teaching new developers the company’s tech stack
      </li>
      <li>
        Refactor the codebase to use the best coding practices - moving from class components to functional components with hooks in React, 
        implement internal Sass framework to improve code readability, maintainability and development speed
      </li>
      <li>
        Greatly reduce security risks by updating our software packages
      </li>
      <li>
        Help in migrating from MobX 5 to MobX 6
      </li>
      <li>
        Work independently with another developer on a client project where we got to choose the tech stack and design the UI
      </li>
    </ul>
    <span class="keyword">React</span>
    <span class="keyword">TypeScript</span>
    <span class="keyword">MobX</span>
    <span class="keyword">Sass</span>
    <span class="keyword">Java</span>
  </mat-card-content>
</mat-card>