@import "../../../../../variables";

.experience-row {
  display: flex;
  justify-content: space-between;

  .job-title {
    font-size: 18px;
    font-weight: 600;
    color: #9aa6ee;

    @media (max-width: $xsmall) {
      font-size: 15px;
    }
  }
  
  .company {
    font-size: 18px;
    font-weight: 600;

    @media (max-width: $xsmall) {
      font-size: 15px;
    }
  }
  
}

.work-length {
  font-size: 14px;
  color: #848484;
}

.keyword {
  background-color: #9aa6ee;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  font-weight: 600;
}